
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calculadora Do Caraças</title>
</head>
<body>
    <div> 
        <h2>CALCULADORA COMPLETA</h2>

        <form method="post">
            <table border="1">
                <tr>
                    <td colspan="5" > Visor </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="7" name="bt"/>
                    </td>
                    <td>
                        <input type="submit" value="8" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="9" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value=":" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="+/-" name="bt" />
                    </td>
                </tr>
            </table>
        </form>

    </div>
</body>
</html>
